# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# public code folder
public/code/

# upload images
public/uploads/lives
public/uploads/users

# Mac development enviroment
.DS_Store

# Code temprary directory
code/